* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 10px;
  background-image: url(img/humairabg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

h1.fnt-hero {
  font-size: 7rem;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h3.fnt-hero {
  font-size: 5rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h4.fnt-hero {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin-top: 10px;
}

h4.fnt-hero u.satu {
  text-decoration-color: #3aac2b;
}

h4.fnt-hero u.dua {
  text-decoration-color: #fcd343;
}

h4.fnt-hero u.tiga {
  text-decoration-color: #55b5fe;
}

h2,
h3 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p,
ul,
a,
button,
summary {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

details,
p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

section.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
  position: fixed;
  top: 0;
  right: 2px;
  left: 2px;
}

section.sticky div.sisi-kiri {
  margin-top: 1em;
}

section.sticky a img {
  margin-top: 2em;
  height: 100px;
}

a img:hover {
  cursor: pointer;
}

main section.hero {
  margin-top: 10em;
  text-align: center;
  line-height: 1;
}

main section.about {
  display: flex;
  margin-top: 4em;
  align-items: center;
}

main section.txt-kiri {
  flex-basis: 50%;
}

section.txt-kiri p {
  text-align: justify;
  padding-right: 10px;
}

main section.gbr-kanan {
  flex-basis: 50%;
  text-align: center;
}

section.gbr-kanan img {
  width: 50vw;
  border-radius: 20px;
  margin-left: 10px;
  box-shadow: 0px 0px 10px 2px #55b5fe;
}

section.info-daftar {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  text-align: center;
}

section.info-daftar h2 {
  text-align: center;
}

section.info-daftar ul {
  list-style-type: none;
  margin: 10px;
}

section.info-daftar a {
  text-align: center;
}

section.info-daftar a button {
  background-color: #31bd33;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
}

section.program {
  margin-top: 1.5em;
}

div.col-akre {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

div.col-akre-kiri {
  flex-basis: 50%;
  text-align: center;
}

div.col-akre-kiri h3 {
  font-size: 3em;
}

div.col-akre-kanan {
  flex-basis: 50%;
  text-align: center;
}

div.col-akre-kanan img {
  height: 500px;
  box-shadow: 0 1px 5px 1px;
  border-radius: 20px;
}

section.program p {
  text-align: justify;
  line-height: 1.6;
  text-indent: 50px;
}

section.program div.img-container {
  width: 80vw;
  margin: 2em auto;
  line-height: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

div.img-container img {
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 1px 10px 2px rgba(217, 158, 48, 0.7);
}

section.pertanyaan h2 {
  text-align: center;
}

section.pertanyaan details {
  margin: 5px;
}

section.contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

section.contactus i.fa-map-location-dot {
  font-size: 1.5em;
  margin: 5px;
  color: #3aac2b;
}

section.contactus i.fa-square-whatsapp {
  font-size: 1.5em;
  margin: 5px;
  color: #fcd343;
}

section.contactus i.fa-envelope {
  font-size: 1.5em;
  margin: 5px;
  color: #55b5fe;
}

details p {
  text-align: center;
}

details p a {
  text-decoration: none;
  font-weight: 800;
  opacity: 0.8;
}

@media (max-width: 767px) {
  main {
    margin: 10px 15px;
  }

  section.sticky a button {
    font-size: 0.75rem;
  }

  h1.fnt-hero {
    font-size: 3.5em;
  }

  h3.fnt-hero {
    font-size: 2.5em;
  }

  h4.fnt-hero {
    font-size: 1.5em;
  }

  div.sisi-kiri img {
    height: 50px;
  }

  div.sisi-kanan img {
    height: 25px;
  }

  main section.about {
    display: grid;
  }

  section.gbr-kanan img {
    display: grid;
    width: 90vw;
    margin-top: 2em;
    text-align: center;
  }

  div.col-akre-kiri h3 {
    font-size: 1.25em;
  }

  div.col-akre-kanan img {
    height: 300px;
  }

  section.program p {
    text-indent: 30px;
  }

  details {
    text-align: center;
  }

  iframe {
    width: 90vw;
  }
}
